[2016-12-15 00:13] cfelicio opened #2 "Need updates for new Marlin"
Hi There,

Marlin is about to release a new version, and this plugin needs to be updated. I made a few changes to accommodate my needs (see https://github.com/cfelicio/OctoPrint-EEPROM-Marlin/commit/128ce1bf50f3447fe4f17f4a104b8c1b7e495ee2), but if you can add those changes on a new release and also check for other parameters that might be useful to have, that would be awesome :-)

Cheers!

[2016-12-15 10:33] amsbr commented on #2
Thankyou! I will update on next release.

[2017-04-01 18:16] amsbr commented on #2
Hi @cfelicio ,

New release [1.0.1](https://github.com/amsbr/OctoPrint-EEPROM-Marlin/releases/tag/1.0.1) added support for Delta settings and ends top adjustments.

[2017-04-01 18:16] #2 closed, assigned to nobody

[2017-04-02 21:22] jhoffman255 opened #3 "Marlin v1 (below v1.01) missing advanced variables"
Before this update, I was able to access settings for Jerk and Extruder Retraction from my v1 EEPROM. Looks like you're skipping these GCODE commands below v1.01: M204, M205

Here's the version output and the stored settings from my EEPROM:

`Recv: FIRMWARE_NAME:Marlin V1; Sprinter/grbl mashup for gen6 FIRMWARE_URL:http://www.mendel-parts.com PROTOCOL_VERSION:1.0 MACHINE_TYPE:Mendel EXTRUDER_COUNT

[2017-04-08 23:01] amsbr commented on #3
Hi @jhoffman255 released [1.0.2](https://github.com/amsbr/OctoPrint-EEPROM-Marlin/releases/tag/1.0.2) with Marlin V1; support.

Thankyou

[2017-04-08 23:01] #3 closed, assigned to nobody

[2017-04-25 14:52] brotherchris opened #4 "Add Z probe offset"
Hello, I find myself changing the Z probe offset a lot in Marlin. Can this be added to this plugin?
#define Z_PROBE_OFFSET_FROM_EXTRUDER 0

Thanks,
Chris

[2017-04-26 13:19] amsbr commented on #4
Hi,

what's the firmware version?

[2017-04-26 14:14] brotherchris commented on #4
1.1.0-RC8

On Wed, Apr 26, 2017 at 8:19 AM, Anderson Silva <notifications@github.com>
wrote:

[2017-04-28 12:26] amsbr commented on #4
Same as me.

Current release of plugin have Z probe offset option for configuration. Check if it helps you

[2017-04-28 15:02] brotherchris commented on #4
Thanks I will give it a try.

On Fri, Apr 28, 2017 at 7:26 AM, Anderson Silva <notifications@github.com>
wrote:

[2017-05-04 03:59] broncosis opened #5 "z jerk and e jerk mixed up"
I went to adjust the jerk settings and they populat in the wrong window
z jerk is shown in the e jerk and vise versa but oddly the changes made to seem to get stored in the correct location
I am currently on 1.1.0 rc 2 I think
but I don't know if this is a firmware problem

[2017-05-04 04:02] broncosis commented on #5
yes the E jerk is displayed in the Z window and Z is displayed in the E window
but changes are saved to the correct location I think

[2017-05-05 19:41] amsbr commented on #5
Hi @broncosis,

Thankyou for notify this issue. I will correct this and release a new version.

[2017-05-18 19:11] disco22522 opened #6 "live editing?"
Hello, this isn't really an issue with the plugin, more I'm looking for a little more answers.

Am I able to do a live-edit of the eeprom while it's printing? Like, could I change around accell or mm/s at anytime while it's printing or will it require a restart?

[2017-05-24 11:16] azalanono opened #7 "ALL Jerk values are mixed up"
Hello, Sylvia.
I am using "Marlin rc8" and want to inform you that **almost all Jerk values are wrong** in your EEPROM Editor. As Browser I use Firefox on Linux.

Details:
.) I click on "Load EEPROM"
.) I edit the Max Jerk values to Jerk X/Y/Z/E = 6/5/4/3   (-> as an example, to have different values).
.) I click on "Upload EEPROM".
.) I click on "Load EEPROM" again (to read in what I configured b

[2017-05-29 14:01] amsbr commented on #7
Hi @azalanono,

I'm writing a new version to correct this.

[2017-08-07 20:32] Leonas commented on #6
You can change it while its printing. No restart needed.

[2017-08-15 11:02] CyberDracula commented on #7
it is just a miss count on the parsing of M205 data.
X and Y have the same match ID:

[code]

[2017-08-20 14:25] amsbr commented on #7
Hi @CyberDracula!

I am developing new release now.

Thanks!

[2017-08-20 15:31] amsbr commented on #7
New release corrects this issue. Release [1.0.3](https://github.com/amsbr/OctoPrint-EEPROM-Marlin/releases/tag/1.0.3)

[2017-08-20 15:31] #7 closed, assigned to nobody

[2017-08-20 15:31] amsbr commented on #5
New release corrects this issue. Release [1.0.3](https://github.com/amsbr/OctoPrint-EEPROM-Marlin/releases/tag/1.0.3)

[2017-08-20 15:31] #5 closed, assigned to nobody

[2017-08-20 15:34] amsbr commented on #6
Hi @disco22522! @Leonas is correct. The plugin uses GCode to read and write values.

[2017-08-20 15:34] #6 closed, assigned to nobody

[2017-08-22 17:55] azalanono opened #8 "Installation of update fails!"
I tried to install the update, but it does not work.

This happens:

Octoprint notifies me that a new version 1.0.3 exists.
I click on "install".
The install process runs without any error, then octoprint is rebooted.

After re-connecting to octoprint, I get again the notification that a new version 1.0.3 is available. The existing version is (still) 1.0.2.

[2017-08-22 19:40] amsbr commented on #8
Hi @azalanono,

An incorrect cached version caused the problem. Try update for new release [1.0.4](https://github.com/amsbr/OctoPrint-EEPROM-Marlin/releases/tag/1.0.4).

[2017-08-22 19:40] #8 closed, assigned to nobody

[2017-10-10 13:52] storemanuk opened #9 "Not loading eeprom"
I've installed the plugin and see it listed with other plugins.

with printer connected I click the plugin from the left navbar then click on Load EEPROM but it doesn't list any of the eeprom settings. Just a blank page apart from a bit of text at the top and the two buttons
![marlin editor](https://user-images.githubusercontent.com/31435380/31390023-af8fefce-adca-11e7-839e-ecf3e086280c.JPG)

[2017-10-15 13:57] amsbr commented on #9
Hi @storemanuk

The setting #define EEPROM_SETTINGS is enabled on your firmware?

[2017-10-16 12:16] storemanuk commented on #9
Duh! My apologies,

M503 was disabled in the firmware.
I recently uploaded Marlin 1.1.6 using a predefined configuration.h for the CR-10 but this had been disabled to allow other functions to fit in the program memory. I only discovered this last night and changed it. I'd rather have this feature than a boot screen so the boot screen went to give the room required for this feature. My newbie mista

[2017-10-16 12:57] amsbr commented on #9
Hi @storemanuk

All right!

[2017-10-16 12:57] #9 closed, assigned to nobody

[2017-11-03 09:58] ddB0515 opened #10 "Marlin 1.1.6 not loading EEPROM"
After updating to Marlin 1.1.6 (CR-10S) pressing Load EEPROM does nothing
Not sure if is version issue or something else
If you need any logs, details let me know so I can provide

[2017-11-04 04:17] GitJiggyWiddit commented on #10
Also experiencing this problem on CR-10 running 1.1.6.

[2017-11-05 01:46] amsbr commented on #10
Hi @InvalidExcepti0n,

please send log details.

Thankyou

[2017-11-05 01:49] ddB0515 commented on #10
Hi @amsbr

Will M503 will be enough? Or you need something else?

[2017-11-05 01:52] amsbr commented on #10
Only M503.

[2017-11-05 02:53] ddB0515 commented on #10
I have tried but not working M503 looks like need to enable debug output in firmware
Will post here when modified it later today
Sorry :(

[2017-11-05 03:59] ddB0515 commented on #10
Managed to get M503
so here is log from terminal:

[...]
Send: M503
Recv: echo:M503
Recv: echo:  G21    ; Units in mm
Recv: echo:  M149 C ; Units in Celsius
Recv:
Recv: echo:Filament settings: Disabled
Recv: echo:  M200 D1.75
Recv: echo:  M200 D0
Recv: echo:Steps per unit:
Recv: echo:  M92 X80.00 Y80.00 Z400.00 E95.00
Recv: echo:Maximum feedrates (units/s):
Recv: echo:  M203 X300.00 Y300.00 Z5.00

[2017-11-06 00:13] amsbr commented on #10
What's your version of OctoPrint?

[2017-11-06 00:14] ddB0515 commented on #10
Version 1.3.5 (master branch)

[2017-11-07 00:43] imrcly opened #11 "Trying to use editor with a Delta"
I installed through the plugin manager repo running the current RC, the delta settings are not showing up when i load eeprom

[2017-11-07 11:19] amsbr commented on #11
Hi @imrcly

Is it possible send M503 result?

[2017-11-07 16:34] ddB0515 commented on #10
@amsbr  maybe this PR will solve issue on 1.1.6
https://github.com/MarlinFirmware/Marlin/pull/8283

when I get home will try it and post results

[2017-11-07 16:37] amsbr commented on #10
Ok. Let me know the results.

[2017-11-07 17:13] imrcly commented on #11
[...]
Send: M503
Recv: echo:  G21    ; Units in mm
Recv: echo:  M149 C ; Units in Celsius
Recv:
Recv: echo:Filament settings:
Recv: echo:  M200 D1.75
Recv: echo:Steps per unit:
Recv: echo:  M92 X80.00 Y80.00 Z80.00 E92.00
Recv: echo:Maximum feedrates (units/s):
Recv: echo:  M203 X500.00 Y500.00 Z500.00 E100.00
Recv: echo:Maximum Acceleration (units/s2):
Recv: echo:  M201 X1000 Y1000 Z1850 E5000
Re

[2017-11-07 17:14] imrcly commented on #11
forgot to mention Running marlin 1.1.5

[2017-11-07 17:57] ddB0515 commented on #10
Working :)
offsets were bad that's why didn't work but now opened immediately after open
So closing issue and thx for support

[2017-11-07 17:57] #10 closed, assigned to nobody

[2017-11-16 09:29] ToonMeynen commented on #4
Hi,
I have set the offset several times. It was default 0, I changed it to -0.2 but when I hit upload, I get a communication timeout error. I need to reset ramps and reconnect octa. When I check the firmware settings again it shows 0 offset. It never actually saved.

[2017-11-17 00:18] amsbr commented on #11
Hi, @imrcly at the browser in the javascript console is firmware version printed something like "FIRMWARE_NAME: ...". Is it possible send this info?

Is none field showed after clicking in Load?

[2017-11-17 00:23] amsbr commented on #4
Hi @ToonMeynen,

please try to send manual command at terminal M851 Z-0.2, verify the result.

[2017-11-17 02:59] imrcly commented on #11
Send: M115
Recv: FIRMWARE_NAME:Marlin 1.1.5 (Github) SOURCE_CODE_URL:https://github.com/MarlinFirmware/Marlin PROTOCOL_VERSION:1.0 MACHINE_TYPE:Tessa EXTRUDER_COUNT:1 UUID:cede2a2f-41a2-4748-9b12-c55c62f367ff

i do not see a none field
![capture](https://user-images.githubusercontent.com/872141/32927195-438a1932-cb19-11e7-9bcd-cb4308b3ee66.JPG)

[2017-11-18 11:10] amsbr commented on #11
Hi @imrcly,

I will prepare a new release for correct this.

[2018-01-06 16:05] sanderpuh opened #12 "Plugin does not load values on Marlin 1.1.7"

[2018-01-19 02:02] amsbr commented on #12
Hi @sanderpuh,

is it possible send M503 result?

[2018-01-19 10:42] sanderpuh commented on #12
Hi @amsbr,

On Octoprint Terminal:

That's all I get.

[2018-01-23 21:44] amsbr commented on #12
Hi @sanderpuh,

your EEPROM setting is disabled on firmware compilation. Please confirm this.

[2018-01-23 21:47] amsbr commented on #4
Hi @ToonMeynen,

Did you verify the result?

[2018-01-23 22:01] Wismgari commented on #12
Hi - just had the same issue with 1.1.8. EEPROM can be enabled and the plugin fail if the disable M503 option is used.

Ignore the warning in Marlin to disable M503 for release and the plugin works.

[2018-01-23 22:16] amsbr commented on #12
Hi,

yes, the plugin work only with M503 enabled. It uses the M503 result to populate the fields.

[2018-01-30 13:09] Lepterois opened #13 "Not recognize Marlin"
Hi! I have a Geeetech I3 printer with Marlin firmware, but the plugin say me, It's not a Marlin Firmware...
Do you have an idea?
Thanks

[2018-02-02 01:11] amsbr commented on #13
Hi @Lepterois

Please execute M503 in Terminal and put here the result.

[2018-02-02 07:40] bcsteeve commented on #12
Man that was frustrating!  I struggled with this for hours before stumbling into here.  PLEASE consider making a check for this sort of thing, and having it suggest in the plugin to check that the necessary lines aren't commented out.  Perhaps also suggest to Marlin folks to make a note in the code documentation (eg. "this is necessary for some plugins, for example the EEPROM-Marlin" or whatever)

[2018-02-02 17:42] averter commented on #4
Hi,

This plugin is a must have for people who want to tweak the firmware to their needs. Awesome work really.
I was wondering if it is possible to have the X and Y offset of the probe in addition to the Z offset? Thanks.

[2018-02-04 20:44] amsbr commented on #4
Hi @averter Marlin Firmware and this plugin support Home Offset for X, Y, Z and Z-Probe Offset.

[2018-02-04 20:48] amsbr commented on #12
Hi @bcsteeve,

good suggestion!

[2018-02-05 09:51] averter commented on #4
Hi @amsbr Thanks for the quick reply. I think home offset and prove offset are different variables. I have Marlin RC6 with an autobed leveling probe. Do you think that in the future it would be possible to implement these three variables?
#define X_PROBE_OFFSET_FROM_EXTRUDER 39  // X offset: -left  +right  [of the nozzle]
#define Y_PROBE_OFFSET_FROM_EXTRUDER -34   // Y offset: -front +behind [the

[2018-02-12 20:31] jsiobj commented on #13
Hello @amsbr,

I have the same problem with another printer : a Dagoma Discoeasy 200 (a french manufacturer) which use an MKS board with a custom Marlin Firmware.

Here is the M503 output :
[code]
Thanks.
JS

[2018-02-13 10:37] Lepterois commented on #13
Hi @amsbr !
I'm sorry for the late reply. I solved the problem by upgrading the firmware with a recent distrib of marlin. Almost everything is working fine, except the PID modification. When I try to change the setting of the PID, it saves only a blank field.
Thanks

[2018-03-24 11:50] TylonHH commented on #13
Can you please check this Version too?
[code]

[2018-03-26 16:25] amsbr commented on #13
Hi @TylonHH,

Please execute M503 in Terminal and put here the result.

[2018-04-02 10:49] TylonHH commented on #13
[code]

[2018-04-03 15:55] amsbr commented on #13
Hi @TylonHH,

I go to release a new version in some days for adjusting this.

Thank you.

[2018-04-09 16:28] jon012198 opened #14 "customization"
any we can make it a tab or drop down support like this plugin  https://github.com/xyzaxyz/OctoPrint-Finetunerptr

[2018-04-21 12:07] amsbr commented on #14
Hi @jon012198,

feature added to new release [1.2](https://github.com/amsbr/OctoPrint-EEPROM-Marlin/releases/tag/1.2)

[2018-04-21 12:07] #14 closed, assigned to amsbr

[2018-04-21 12:08] amsbr commented on #13
Hi,

fixed in new release [1.2](https://github.com/amsbr/OctoPrint-EEPROM-Marlin/releases/tag/1.2)

try it.

[2018-04-21 12:08] #13 closed, assigned to amsbr

[2018-04-21 12:10] amsbr commented on #12
Hi,

added support for all Marlin versions in new release [1.2](https://github.com/amsbr/OctoPrint-EEPROM-Marlin/releases/tag/1.2)

[2018-04-21 12:10] #12 closed, assigned to amsbr

[2018-04-21 12:11] amsbr commented on #11
Hi @imrcly,

fixed in the new release [1.2](https://github.com/amsbr/OctoPrint-EEPROM-Marlin/releases/tag/1.2)

[2018-04-21 12:11] #11 closed, assigned to amsbr

[2018-04-21 13:57] shandshellin opened #16 "Adjust z home position"
IS there a way to enable changing the home position. I can change alot of my Delta settings but if I change the glass for example, and it's a few mm smaller, then i have to connect the printer to laptop, edit marlin, upload, test, etc. I would love to leave this on my octoprint server during these minor calibrations. Perhaps in a future release?

[2018-04-21 14:53] amsbr commented on #16
Hi @shandshellin,

please send M503 result here.

Z Offset doesn't work for you?

[2018-04-21 16:46] Pajje99 opened #17 "Problem with new version"
Hi,

I just updatet to your new verison and it seems that it does not handle
HTML right.

I just get the "source" from the form.

![image](https://user-images.githubusercontent.com/16124303/39086586-09f732ea-4594-11e8-8781-07747e809634.png)

[2018-04-21 19:22] amsbr commented on #17
Yes, it's a bug. I'm working on it right now.

[2018-04-21 19:43] amsbr commented on #17
fixed in 1.2.1

[2018-04-21 19:43] #17 closed, assigned to amsbr

[2018-04-22 14:19] jon012198 commented on #14
![firefox_2018-04-22_10-17-11](https://user-images.githubusercontent.com/7279835/39095930-6ab84eac-4616-11e8-9736-20329a7a380a.png)
![firefox_2018-04-22_10-17-29](https://user-images.githubusercontent.com/7279835/39095932-6ac40454-4616-11e8-83a8-2ef681c050aa.png)
 there is a large gap before the text shows up only on the info tab
@amsbr

[2018-04-25 21:53] dsc45 opened #18 "EEPROM GUI axis duplication"
a lot of the settings are showing twice on my octoprint server.
![screenshot 2018-04-25 15 41 33](https://user-images.githubusercontent.com/9896713/39274769-4e96b88a-48a0-11e8-8865-4f0aa3c1e8b6.png)
![screenshot 2018-04-25 15 41 43](https://user-images.githubusercontent.com/9896713/39274772-4f9d1558-48a0-11e8-8d56-e8bc9366fc99.png)
![screenshot 2018-04-25 15 41 59](https://user-images.githubuserco

[2018-04-27 05:13] JupaCreations opened #19 "GUI does not respond"
For your information...

Latest version loaded.
When I go to the GUI it does not show current settings.
When I click info button nothing happens.

Previous version worked fine.

![knipsel](https://user-images.githubusercontent.com/17322922/39345736-6e5847e2-49ea-11e8-9536-7de5e0803a9a.JPG)

[2018-04-27 10:32] amsbr commented on #18
has this occurred after load?

[2018-04-27 15:55] dsc45 commented on #18
I usually just tell octoprint to connect to my printer, and then I open the EEPROM page, and it will look like that. However it's not doing it at the moment and I haven't changed anything so it seems to be intermittent.

Does that answer your question?

[2018-04-29 15:23] ToonMeynen commented on #19
Having the same behaviour. Updated and GUI does nothing.
I'm running OctoPrint 1.3.8 running on OctoPi 0.14.0
OctoPrint-EEprom-Marlin-1.2.1

[2018-04-29 18:31] ToonMeynen commented on #19
I believe it is browser a related issue. In Chrome it didn't work. In safari it works on the same installation.

[2018-04-29 19:36] amsbr commented on #19
thank you for the report. I'll test on other browsers

[2018-04-30 10:57] Hudefix commented on #19
Im having this issue on Safari and Yandex. Reinstall the plugin dont make a change!

[2018-04-30 14:33] amsbr commented on #19
Do you have some error message in javascript console?

[2018-05-01 13:17] amsbr commented on #18
Yes. I observed this intermitance too. I'll fix it soon.

[2018-05-01 16:39] JupaCreations commented on #19
IE gives same problem. Please describe where to find the javascript console.

[2018-05-02 02:12] amsbr commented on #19
Hi,

I tried another browser and not reproduce the problem. I identified an instability in autoload of settings from EEPROM, but after click on "Load" button (the "Info" isn't a button, is a tab, please click on "Load" for test), settings were loaded.

In my test, I used MacOS and Browsers:
- Safari 11.1
- Chrome 66.0.3359.139
- Opera 52.0
- Firefox 59.0.2
- Yandex 18.3.1.1235

I don't tried on Wi

[2018-05-02 02:13] amsbr commented on #19
For check javascript console in MacOS Browsers:

Command + Option + C: Safari
Command + Option + K: Firefox
Command + Option + J: Chrome
Command + Option + J: Opera
Command + Option + J: Yandex

[2018-05-02 02:26] amsbr commented on #18
The cause of this problem related to dual or more simultaneous load (probably dual click or dual return of M501). I'll fix this soon.

[2018-05-02 02:32] amsbr commented on #4
Hi @averter,

XYZ probe offset from extruder currently isn't an EEPROM parameter. I'll suggest to Marlin firmware team to add this.

Thanks!

[2018-05-02 03:24] amsbr commented on #18
Hi @dsc45,

Please try this [commit](https://github.com/amsbr/OctoPrint-EEPROM-Marlin/archive/16f9242342d4e5ecbae285c793e99f8da383178d.zip)

[2018-05-02 07:45] JupaCreations commented on #19
I will check this evening which version of Chrome I use on my window system.
Clicking on other buttons does not give desired result either.
Auto load of settings at starting does not owrk.
I will make a video if needed for the behaviour.
It must be simple and as you say browser related.
Press Ctrl + Shift + J (Windows) for Java console

Paco

[2018-05-02 16:25] JupaCreations commented on #19
Here you go.....
https://paco.tinytake.com/sf/MjU2NDU1NV83NzEzNzQz

Paco

[2018-05-02 19:18] amsbr commented on #19
Hi Paco!

Probably that doesn't a browser compatibility problem. If you try to run in Terminal of OctoPrint the command M501 and M503, do you have any result?

[2018-05-03 16:09] JupaCreations commented on #19
Octorprint terminal works fine.... what else to check?

Paco
![knipsel](https://user-images.githubusercontent.com/17322922/39588931-20df0484-4efd-11e8-9b6b-fbfbddbb4a8d.JPG)

[2018-05-03 16:20] dsc45 commented on #18
Ya, I see 2 "Send: M501" lines in the terminal.

I just tried the version you told me to and it looked fine at first, but as I was looking at it I think a M501 got passed. It duplicated things for me as I was looking at it.

[2018-05-09 12:57] Desterly commented on #18
I have this issue after modifying some values (just came to report) - for example, If Update my Z offset, when I click upload, I now have two boxes, one that shows the old offset, one that shows the new.  The issue is neither of them actually change the offset.   Only way to correct it is to reload the interface.     I haven't looked yet but perhaps a tuple or dictionary value to indicate that it'

[2018-05-09 16:10] amsbr commented on #18
Hi @Desterly,

I'm checking this issue. Maybe it's related to a cleaning of a variable, I'll try a new commit soon.

[2018-05-10 02:44] jon012198 opened #20 "marlin 2.0 support"
this is the error i get Send: M501 Recv: echo:EEPROM version mismatch (EEPROM=V47 Marlin=V54)    Recv: echo:Hardcoded Default Settings Loaded  Recv: ok
    @amsbr ![firefox_2018-05-09_22-42-42](https://user-images.githubusercontent.com/7279835/39849451-6c78d0aa-53da-11e8-9f71-544470404100.png)

[2018-05-10 14:23] jon012198 commented on #20
so i did  disable it and i can see the the settings when i send m501 but once i enable it now works

[2018-05-10 14:29] amsbr commented on #20
Hi @jon012198,

I need to implement a feature for check this inconsistency. This occurs because saved EEPROM version is different of the new version of Marlin, you need Reset EEPROM and restore the backup.

[2018-05-15 06:06] JupaCreations commented on #19
Can you make the previous version available as that worked fine? ;-)

[2018-05-15 16:23] amsbr commented on #19
Previous version is [1.0.4](https://github.com/amsbr/OctoPrint-EEPROM-Marlin/releases/tag/1.0.4)

[2018-05-16 05:57] JupaCreations commented on #19
For your information.
Installed the 1.0.4 version on two machines. Worked directly again............
What is the difference in use between old and new version?
Is there only cosmetic difference?

Thanks, Paco

[2018-05-17 09:06] Zance73 commented on #19
My bad, it was a problem from my Marlin config, I had disabled M503 to save space, it now works fine.

It seems that I have the same problem
![2018-05-17_10h58_53](https://user-images.githubusercontent.com/39368969/40167652-dae607dc-59c1-11e8-8c06-004c40306cd1.png)
Octoprint 1.3.8 and EEPROM Marlin Editor Plugin: 1.2.1
Nothing special in the java console, and both M501 and M503 seems to work fine

[2018-05-19 02:14] bagobones opened #21 "No option to edit in Prusa Mk2 3.1.0 firmware"
It had been a while since I had done an extruder calibration but it looks like the current firmware and current plugin are no-longer compatible?

I get no inputs to edit with, just the following firmware info.

FIRMWARE_NAME:Marlin V1.0.2; Sprinter/grbl mashup for gen6 FIRMWARE_URL:https://github.com/prusa3d/Prusa-i3-Plus/ PROTOCOL_VERSION:1.0 MACHINE_TYPE:Prusa i3 MK2 EXTRUDER_COUNT:1 UUID:000000

[2018-05-23 16:41] modem7 opened #22 "Feature request - Thermal runaway settings"
Would it be possible to put in the settings for thermal runaway for both bed and hotend at all?

This would enable us to tweak them as necessary, especially if 1) someone hasn't enabled it and 2) change the values for the feature if so required.

Thanks!

[2018-05-25 02:13] amsbr commented on #22
Hi @modem7,

the thermal runaway is not a parameter of the Marlin EEPROM, when it is implemented in the firmware we can consider it here as well.

[2018-05-25 02:14] amsbr commented on #21
Yes, it's compatible.

M501 and M503 in terminal return any content?

[2018-05-26 22:16] OutsourcedGuru opened #23 "Making changes and selecting SAVE does not auto-upload to EEPROM"
Version: 1.2.1

## What I did:
I visited the Settings screen, selected the `Home offset` tab, noted the existing `Z Axis` value. I changed this in the interface by -0.10 and pressed the Save button in the bottom-right corner. The Settings dialog went away.

Re-visiting the Settings screen, I note that the `Z Axis` setting has the new value. Pressing the Load button brings back the former value, su

[2018-06-01 05:04] bagobones commented on #21
[code]

[2018-06-12 00:15] bruno93 opened #24 "pid setting doesn't accept decimal..."
really good plugin you've done here i just noticed that PID setting will not let me enter float numbers...

[2018-06-12 17:55] amsbr commented on #24
Hi @bruno93 !

Thank you! Have you tried use comma or dot for decimal separator?

[2018-06-12 18:02] amsbr commented on #21
Hi @bagobones !

I'm investigating M501 invalid return in some moments. In this version, M503 was changed to M501, but it does not retrieve EEPROM settings.

[2018-06-13 19:36] modem7 opened #25 "Bugfix 1.1.8 not showing full advanced tab"
Heya,

Just upgraded to latest Marlin bugfix and I used to get the following:

![6](https://user-images.githubusercontent.com/4349962/41373835-62414df8-6f49-11e8-82fd-a626e97e7751.JPG)

However, I now get this:

![capture2](https://user-images.githubusercontent.com/4349962/41373848-69ec4936-6f49-11e8-9537-c99d09b41917.JPG)

Tried resetting EEPROM and reloading, but still no go

[2018-06-25 18:52] kakou-fr commented on #25
same problem

[2018-07-14 05:46] Xenomorphdelombre opened #27 "Opening the Filament diameter page change the printer to E in MM3 automatically without saving or Upload"
I installed the plugin and wanted to check all options. After looking around I was satisfied with my changed I saved and uploaded and tried a print which got Under Extruded.

Went back to all options and found the Filament tab which was set to 1.75. I changed it to 1 and my prints were somewhat "ok". Then I found online that this is to enable E in mm3 instead of linear extrusion.

It owuld be good

[2018-07-16 21:16] qfixit opened #28 "Not Loading Data On SkyNet3D variant of Marlin"
I've used this plugin on my printer running SkyNet3D before but after a few months of not using it I've come back to see it no longer loading my printers settings. I don't have any error messages appear on the screen and my "Info" button is greyed-out.

Pringer Info from plugin page:
FIRMWARE_NAME:Marlin V1; Sprinter/grbl mashup for gen6 FIRMWARE_URL:https://github.com/ErikZalm/Marlin/ PROTOCOL_VE

[2018-07-17 17:32] kbuechl commented on #27
+1 to this. I downloaded this plugin at the recommendation of a friend and since then my prints have been totally fubar. Came here and saw this issue and checked on my printer and it was turned on without me knowing.

[2018-07-27 01:58] amsbr commented on #27
Hi @Xenomorphdelombre, in the next release this feature to be released. @kbuechl sorry for the setback.

[2018-07-27 02:01] amsbr commented on #28
Hi @Quintin9801, the EEPROM feature was enabled on this firmware?

[2018-07-27 02:02] qfixit commented on #28
Problem solved , reflagged with latest version of skynet. No worries,
perfectly fine to close the issue

On Thu, Jul 26, 2018 at 9:01 PM Anderson Silva <notifications@github.com>
wrote:

[2018-08-03 01:33] Tronnic opened #29 "Doesn't save settings"
**Issue:**
Hello, I need to change EEProm Settings in order to calibrate my extruder. When entering the number and hitting upload, I get a green message "EEPROM DATA STORED" but right after uploading the number I entered will revert back to the original number.

**Info:**
Printer: Creality Ender 3
Octoprint: 1.3.8
Octopi: 0.15.1 (Jessie light Octopi Image with TouchUI installed)

[2018-08-04 16:14] Tronnic commented on #29
This is from the console right after I change a setting (just to test, changed Extruder steps from 93 to 94.

The printer replies with "OK" but then instantly sends back the old value. Why?

[2018-08-07 00:31] edmundchaniii commented on #29
I just experienced this exact same issue with a Creality Ender 2.

[2018-08-07 00:36] edmundchaniii commented on #29
Oh, one other thing.   This may have something to do with it.

When you Load the EEProm settings and go to the "Steps per mm" Tab, it repeats the same "Steps" info to the screen 2 times instead of "Steps" and "Feedrates" like in the screen shot here:

https://plugins.octoprint.org/plugins/eeprom_marlin/

[2018-08-07 00:48] Xenomorphdelombre commented on #27
Thanks!

[2018-08-21 18:05] tophattwaffle opened #30 "Plugin restoring stored EEPROM settings with M501 when OctoPrint settings are viewed"
When viewing the settings for OctoPrint, the EEPROM editor plugin sends M501 to the printer. This will restore the stored EEPROM to be live. However this is not ideal as some settings may be set on a per-print basis.

Example: Automatic Bed Leveling only after G29. After a G29, Marlin will set M420 S1, enabling bed leveling. In my EEPROM I have M420 S0 set so ABL is only enabled after a G29 has ge

[2018-08-21 19:28] pdf0202 opened #31 "No Advanced Settings with Marlin 1.1.9"
I do not have the advanced settings tab with Marlin 1.1.9.

![eeprom marlin plugin no advanced tab](https://user-images.githubusercontent.com/42586779/44424325-64161100-a54e-11e8-92b3-61a7c8fcbed5.jpg)
![eeprom marlin plugin m501](https://user-images.githubusercontent.com/42586779/44424332-68dac500-a54e-11e8-84b1-62c14f1860a2.jpg)
![eeprom marlin plugin m501 cont](https://user-images.githubusercon

[2018-08-21 21:01] Desterly commented on #30
The problem I see with this is there is no current command in Marlin to "View" EEPROM Data only:

M500 - Save to EEPROM
M501 - Load from EEPROM
M502 - Reset EEPROM
M503 - View Memory

M501 is no different than turning the printer off and back on.

Are you saying there are times that you are changing printer settings but not saving them to EEPROM for multiple jobs?

I'm also not sure how this affec

[2018-08-21 21:16] tophattwaffle commented on #30
You are correct, a M505 would solve all of this. I'm going to make a
request over at Marlin to see if this is possible.

It effects ABL for many users as M420 S0 is set in the eeprom. The starting
script then contains a G28 (home and clear old mesh) followed by G29 which
makes a new mesh and saves it.

The issue is that if you're in the middle of a print and ABL is on, this
plug-in does a M501 and

[2018-08-22 01:30] Desterly commented on #30
While I'm not sure exactly what difference enabling/disabling bed leveling (unless you are also referring to Z compensation) has during printing, based off your updated description, what you are looking for is prevention of clicking "Load" and issuing the M501 if printing is active.

This would prevent the M501 being issued during an active job.  G28 always disables bed leveling which means in sta

[2018-08-22 01:39] tophattwaffle commented on #30
Yes, bed leveling as in z compensation.

And yes - if a print is active a M501 should never be issued. Thought
preventing M500-504 during active print also works.

With EZABL a G29 is issued every print and the mesh is never saved.

On Tue, Aug 21, 2018, 20:30 Desterly <notifications@github.com> wrote:

[2018-08-22 01:45] Desterly commented on #30
OK overall I see the issue...

This is actually a fairly easy fix as I recall (I've looked at the plugin a few times).    I'll see what I can do and issue a pull request to disable the admin functions during a print (if amsbr doesn't get to it first)

[2018-08-23 13:45] Desterly commented on #30
Take a look at pull request #32 -  This is a small modification that effectively disables the Add-In if the printer is currently "Printing" or "Paused"

[2018-08-24 15:47] meganssmith commented on #31
I get the INFO tab and that is it.

[2018-09-10 19:45] gtortone opened #33 "Marlin 1.1.9 and jerk parameters"
Hi,
I'm using Marlin 1.1.9 and I did not find jerk parameters inside "Advanced" submenu...

is there something to do inside code or this feature is not supported in Marlin 1.1.9 ?

Thanks,
Gennaro

[2018-09-12 12:50] azalanono opened #34 "Syntax checking of input"
Hello.
Your plugin is really nice, but from practice, I want to suggest you some enhancements:
There are countries (i.e. Austria), where "real numbers", numbers with decimal places, are written with "," as "decimal point", while usually english speaking countries use a "." as decimal point.
This often causes troubles when one uses a "," while a "." is expected, as vice versa.

Therefore I usually

[2018-09-17 02:09] amsbr commented on #34
Thank you @azalanono!
I will apply this improvement soon.

[2018-09-21 13:11] EddyMI3d opened #35 "Does not work with Prusa FW 3.4.0"
Hi!
Version 1.2.1 (recent one?) does not work with Prusa-Firmware Version 3.4.0

![grafik](https://user-images.githubusercontent.com/8533327/45883059-47b8fe80-bdb0-11e8-8074-e5c0ad3df7e4.png)

Running OctoPrint V 1.3.9 on OctoPi 0.15.1

![grafik](https://user-images.githubusercontent.com/8533327/45883174-9b2b4c80-bdb0-11e8-8296-572afbcef693.png)

[2018-09-21 21:22] OutsourcedGuru opened #36 "FR - Indicate units in the Settings webpage"
![screen shot 2018-09-21 at 3 06 37 pm](https://user-images.githubusercontent.com/15971213/45908162-fdd01880-bdaf-11e8-9a6c-7ec094a7b39c.png)

As seen in the screenshot, the report back from the Marlin-based firmware indicates the shown numbers. Unfortunately, only part of the information is available: `"300 mm" steps per unit` without revealing that this is actually `300 mm/sec` as reported by an

[2018-09-21 22:09] OutsourcedGuru commented on #36
I've done a PR to adjust this, btw.

[2018-09-25 03:36] #16 closed, assigned to nobody

[2018-11-21 08:25] houseofbugs commented on #30
https://github.com/houseofbugs/OctoPrint-EEPROM-Marlin/archive/master.zip

[2018-12-03 04:10] DroneMang opened #38 "Marlin 2.0 doesn't connect"
Hi,

I am switching between Repetier and Marlin, and after I reset EEPROM through your plugin, it works fine.  Maybe adding a note or something could help?
Thanks!

DroneMang

[2018-12-27 05:12] tgirard opened #39 "Can you make it recognize Sailfish too?"
It would be great if you could make the plugin recognize the sailfish variant of Marlin.  A lot of people use the Sailfish version as well

Thanks
-Tim

[2019-01-09 09:31] ZhenyaKa opened #40 "MK4DUE version (Marlin Kimbra EEPROM)"
Hello! Can you add Marlin Kimbra support?

Kimbra have xml file for Repetier Host. May be simplier to adopt it for your plugin?

https://github.com/MKFirmware/MK4duo/blob/master/MK4duo/plugin%20Repetier/marlineeprom.xml

[2019-01-23 02:08] fcollingwood opened #41 "Only info tab shows for 1.1.9 Bugfix"
None of the settings tabs show for 1.1.9 Bugfix

Is this being maintained? There's an awful lot of open issues and bugs that date back quite some time
![screen shot 2019-01-23 at 3 06 47 pm](https://user-images.githubusercontent.com/37040349/51577999-bb1a7a80-1f20-11e9-911a-33f315a8221f.png)

[2019-02-07 21:25] Burritobun commented on #40
I'd also like this support added or another plugin altogether.

[2019-02-27 12:12] JBFUK commented on #41
Same issue with Marlin 1.1.8; perhaps it's the OctoPrint version?

[2019-03-03 19:28] surenz opened #42 "Layer shift on Octoprint web interface reload"
Crealitiy Ender 3
Marlin version: 1.1.9
TMC2130 drivers with MKS Gen L (if matters but I think it does not happen with original Ender 3 control board).

On every Octoprint interface reload the printer loose its XY homing positions and starts to print in different area (they make also some strange click sound). So X and Y layer shift occurs during printing.

I've isolated the issue to this plugin b

[2019-03-04 19:40] Akegata commented on #41
I have the same issue in the 2.0 bugfix release of Marlin, so OctoPrint version sounds like a likely commonality.
I'm running 1.3.10.

[2019-03-04 19:57] Akegata commented on #41
If you still have an issue with this, I apparently "fixed" it for me by changing the Z probe offset in the terminal (M851 Z-1.2), that somehow triggered something that made the EEPROM plugin work again.

[2019-04-26 04:23] draeath commented on #35
Er, this is Marlin based firmware?

[2019-04-26 17:35] EddyMI3d commented on #35
Yes, it is. It worked with previous versions. But not since 3.4.0

[2019-05-09 18:02] barnold96 opened #43 "Marlin EEPROM Editor Issue"
I've been doing an update to my Anet A8 printer by installing a RAMPS 1.6+ board. All seemed to be going well until I tried to tweak the firmware settings using the Marlin EEPROM Editor plugin. Prior to this, I never had an issue using the plugin. Now, I get the following message each time I try to upload changes:

#### Error reported by printer
Your printer's firmware reported an error. Due to th

[2019-05-09 20:10] barnold96 commented on #41
Interesting!  I've been having a few issues and also ran into this today.  After making changes to a section of the configuration.h file, One error went away, but this one arose.  I changed the following:
//
#define EEPROM_SETTINGS // Enable for M500 and M501 commands  //BA_CHANGE
//#define DISABLE_M503    // Saves ~2700 bytes of PROGMEM. Disable for release!
#define EEPROM_CHITCHAT   // Give feed

[2019-05-16 09:32] thoscut commented on #41
Disabling EEPROM_CHITCHAT can cause this issue, as Marlin doesn't return a request result as expected by the plugin.

[2019-05-24 14:16] leftover commented on #41
Sequence: M501 M500 worked for me.
(EEPROM reset)

[2019-05-25 05:32] thisismycode commented on #43
I've got the same problem on an Anet A8 plus. It can read the EEPROM fine, but when attempting to write it warns something like 'this is not compatible with your machine' and disconnects the printer.
It worked fine last time I tried it with my previous Marlin based printer. Any diagnostics I can run to help diagnose?

[2019-06-25 16:10] LMS0815 commented on #4
I am using _ABL Expert Plugin_ for this purpose.
Is there any other Plugin available for Z probe offset adjustment?

[2019-08-24 12:45] #28 closed, assigned to amsbr

[2019-12-01 18:06] ghost commented on #41
Hello guys,

I have now exactly these same problem. With Marlin 2.0.X from June - everything works perfectly fine. But when I upgrade Marlin to the newest version available on GitHub - I don't have "Advanced" tab in EEPROM editor.

Do You know why this happens? When I am getting back to this version from June - "advanced" tab (and every other tab) are there.

Thanks for help.

[2020-01-03 19:58] shadowbane900 opened #44 "add TMC driver settings"

[2020-01-06 21:21] SVLoneStar commented on #41
@TarruTarru I have the same issue and after looking into the code of the EEPROM plugin it seems that the format for certain messages was changed within Marlin, so that the plugin does no longer recognize them.

I believe the issue to be in line 23 of eeprom_marlin.js (which, from its code comments, is dated from July 2015). There it says

`self.eepromM851RegEx = /M851 ([Z])(.*)/;`

I replaced this

[2020-01-17 04:58] AbuMaia commented on #31
I am now experiencing this with Marlin 2.0.1.

I've done a hard refresh of the page, and a restart of the OctoPi system, and it's still gone. I could have sworn it was there a few days ago.

[2020-01-22 00:16] trunzoc opened #45 "Add LINEAR_ADVANCE control"
Would it be possible to add the ability to control linear advance values to the UI?

[2020-02-22 15:21] Taomyn opened #46 "No longer getting M501 data"
Just upgraded from the stock Creality 1.1.4 board running Marlin 2.0.3 to an SKR mini E3 running the new Marlin 2.0.4.1, OctoPrint is 1.4.0rc5, and now the plug-in no longer gets the data from M502. This is all the file I save contains:

[code]

Whereas the console shows:

[code]

[2020-02-23 03:43] cyberdude86 opened #47 "marlin EEPROM M281"
Is there any work on adding a M281 EEPROM field for editing the servo angles for Marlin 2.X

[2020-04-05 05:25] gruvin opened #49 "Please close old/completed/"will not do" issues."

[2020-04-05 05:33] gruvin opened #50 "HTML page refresh triggering M503 even when printing in progress"
Marlin 2.0 is my only option for my 32-bit board. Marlin 2.0 (including bugfix version) is riddled with bugs. One of those bugs is that issuing an M503 during printing will mess up motion planning somehow, resulting in unintended X,Y or Z stepper kitters, which in turn almost always destroys whatever is printing. (It doesn't *always* happen and was thus hard to track down. But it does.)

Now, none

[2020-05-03 16:16] nick9one1 commented on #31
same here after updating

[2020-05-22 06:48] Andy-ABTec opened #51 "[Feature Request] Python 3 Compatibility"
Please add Python 3 Compatibility as outlined [here](https://docs.octoprint.org/en/master/plugins/python3_migration.html).

[2020-06-03 18:27] jim-p commented on #51
I haven't tested it yet, but it doesn't look like it should need much more than the extra markings to indicate compatibility as mentioned in the link above.

The only thing flagged by 2to3 is this line in [`octoprint_eeprom_marlin/__init__.py`](https://github.com/amsbr/OctoPrint-EEPROM-Marlin/blob/master/octoprint_eeprom_marlin/__init__.py):

[code]

[2020-06-16 21:21] geoffrothman commented on #4
@LMS0815 Yup, the EEPROM Marlin Editor plugin

[2020-08-06 00:38] #25 closed, assigned to amsbr

[2020-08-06 00:39] #22 closed, assigned to amsbr

[2020-09-11 06:43] chris1601 opened #52 "[Feature Request] Python 3 Compatibility"
Please add Python 3 Compatibility as outlined [here](https://docs.octoprint.org/en/master/plugins/python3_migration.html).

[2020-09-11 17:25] fabriceduche41 opened #53 "[Feature Request] Python 3 Compatibility"
Please add Python 3 Compatibility as outlined [here](https://docs.octoprint.org/en/master/plugins/python3_migration.html).

[2020-09-11 23:08] mattflynn opened #54 "[Feature Request] Python 3 Compatibility"
Please add Python 3 Compatibility as outlined [here](https://docs.octoprint.org/en/master/plugins/python3_migration.html).

[2020-09-12 05:14] Hoverhead opened #55 "[Feature Request] Python 3 Compatibility"
Please add Python 3 Compatibility as outlined [here](https://docs.octoprint.org/en/master/plugins/python3_migration.html).

[2020-09-12 05:22] Hoverhead opened #56 "[Feature Request] Python 3 Compatibility"
Please add Python 3 Compatibility as outlined [here](https://docs.octoprint.org/en/master/plugins/python3_migration.html).

[2020-09-12 12:24] KD2ROS opened #57 "[Feature Request] Python 3 Compatibility"
Please add Python 3 Compatibility as outlined [here](https://docs.octoprint.org/en/master/plugins/python3_migration.html).

[2020-09-12 14:16] sched75 opened #58 "[Feature Request] Python 3 Compatibility"
Please add Python 3 Compatibility as outlined [here](https://docs.octoprint.org/en/master/plugins/python3_migration.html).

[2020-09-15 12:09] ManKatEh opened #59 "[Feature Request] Python 3 Compatibility"
Please add Python 3 Compatibility as outlined [here](https://docs.octoprint.org/en/master/plugins/python3_migration.html).

[2020-09-18 12:52] elgybe opened #60 "[Feature Request] Python 3 Compatibility"
Please add Python 3 Compatibility as outlined [here](https://docs.octoprint.org/en/master/plugins/python3_migration.html).

[2020-09-22 20:35] cp2004 opened #61 "Is this plugin still being maintained? Adoption request"
Hey @amsbr!
Is this plugin still being maintained?

If I don't hear back from you, I will look into adopting it on the plugin repository and become the new maintainer of this plugin.

It needs things like Python 3 compatibility, and a few bug fixes.

I think it has some great potential, with over 5k confirmed installs and some promising ideas.

I will look at creating a fork in the coming days, or

[2020-09-24 16:12] cp2004 commented on #61
For anyone who comes across it: I have forked this plugin, when it is two weeks since this issue was submitted I will take over this plugin. There are things I am changing, but it will definitely be an improved plugin.

You can see my development ideas here:
https://github.com/cp2004/OctoPrint-EEPROM-Marlin/issues/1

[2020-09-28 04:32] carl1961 opened #62 "working on Python3"
Removed repo  please use @cp2004 https://github.com/cp2004/OctoPrint-EEPROM-Marlin

[2020-09-28 04:35] carl1961 commented on #61
good question
I did a fork , install the plugin with the web address
https://github.com/carl1961/OctoPrint-EEPROM-Marlin/archive/master.zip

[2020-09-28 07:05] cp2004 commented on #61
Hey @carl1961!
I have forked it too, (link in my previous comment) but I would not recommend installing it since I still need to change the update hook. I have added Python 3 compatibility, and a couple of other bits too.

Once I get some time (working on other plugins at the moment) and when it is 2 weeks from this issue, I will be able to take over the listing on the official plugin repository.

[2020-09-28 09:49] carl1961 commented on #61
Thanks @cp2004  I just realized it was your    python3 upgrade.py I used to convert from 2.7 to 3.7  works great. I been for a week trying to get OctoPrint running on a Orange pi lite,  and doing things with python3 stuff just cause issues. but installing the python2  octoprint install and then converting with your script to python3 did the trick. Thanks!

[2020-09-29 21:48] cp2004 commented on #51
Picked this fix into my fork of the plugin, https://github.com/cp2004/OctoPrint-EEPROM-Marlin/

You can see what I am currently developing in the ticket here https://github.com/cp2004/OctoPrint-EEPROM-Marlin/issues/1

Will be trying to transfer the plugin repository to point to my fork in a weeks time, since it seems abandoned here. (7 days time, official notice period.)

[2020-09-29 21:49] cp2004 commented on #52
Duplicate issue of #51.

Please check for existing issues before opening new ones, there is a lot of spam in this repository.

[2020-09-29 21:49] cp2004 commented on #53
Duplicate issue of #51.

Please check for existing issues before opening new ones, there is a lot of spam in this repository.

[2020-09-29 21:49] cp2004 commented on #54
Duplicate issue of #51.

Please check for existing issues before opening new ones, there is a lot of spam in this repository.

[2020-09-29 21:49] cp2004 commented on #55
Duplicate issue of #51.

Please check for existing issues before opening new ones, there is a lot of spam in this repository.

[2020-09-29 21:49] cp2004 commented on #56
Duplicate issue of #51.

Please check for existing issues before opening new ones, there is a lot of spam in this repository.

[2020-09-29 21:49] cp2004 commented on #57
Duplicate issue of #51.

Please check for existing issues before opening new ones, there is a lot of spam in this repository.

[2020-09-29 21:49] cp2004 commented on #58
Duplicate issue of #51.

Please check for existing issues before opening new ones, there is a lot of spam in this repository.

[2020-09-29 21:50] cp2004 commented on #60
Duplicate issue of #51.

Please check for existing issues before opening new ones, there is a lot of spam in this repository.

[2020-09-29 21:51] cp2004 commented on #62
Built into my new fork, among other things. Will be trying to officially take over maintenance in 7 days time when the abandonment notification hits the official 14 day timeframe.

https://github.com/cp2004/OctoPrint-EEPROM-Marlin / https://github.com/cp2004/OctoPrint-EEPROM-Marlin/issues/1

[2020-09-30 22:00] cp2004 commented on #59
Duplicate issue of #51.

Please check for existing issues before opening new ones, there is a lot of spam in this repository.

[2020-10-05 17:27] cp2004 commented on #61
@amsbr In a couple of days I will be taking over the listing of the plugin repository, to point to my fork, since it seems this plugin has been abandoned.

If you want to change any of this (or transfer ownership of the repository, makes life a *lot* easier) then please get in touch as soon as possible.

[2020-10-07 14:57] cp2004 commented on #61
The official repository listing has been transferred to my fork, since @amsbr is no longer maintaining it.

[2020-10-07 14:57] #61 closed, assigned to nobody

[2020-10-07 15:01] cp2004 opened #63 "Maintenance of this plugin has been transferred"
For anyone coming across this, the listing for the official plugin repository has been moved to [my fork of this plugin](https://github.com/cp2004/OctoPrint-EEPROM-Marlin) since I will be maintaining this fork.

I reached out to @amsbr in #61 and received no response, so I forked the plugin.

You can install via the plugin manager, or use the following URL in the plugin manager > Get More > ...fro

[2021-09-09 10:04] gruvin commented on #50
Well that got nowhere.

[2021-09-09 10:04] #50 closed, assigned to nobody

[2021-09-09 10:05] gruvin commented on #49
I guess no one reads these anymore.

[2021-09-09 10:05] #49 closed, assigned to nobody

[2021-09-09 11:04] cp2004 commented on #50
I took over development - if you have issues, feel free to raise them at https://github.com/cp2004/OctoPrint-EEPROM-Marlin

That said, I don't think this is an issue any more.

[2021-09-09 11:05] cp2004 commented on #49
Same comment as https://github.com/amsbr/OctoPrint-EEPROM-Marlin/issues/50#issuecomment-915985748